@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:400,700");
* {
  box-sizing: border-box; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px; }

.smaller-header {
  width: 100%;
  height: 400px;
  background: #087e8b; }
  .smaller-header h1 {
    margin: 0;
    font-size: 2.5em;
    padding-top: 150px; }

.smaller-header {
  height: 250px; }
  .smaller-header h1 {
    padding-top: 100px; }

article {
  padding: 30px, 20px; }

.nav-bar {
  width: 100%;
  height: 100px;
  background: #087e8b;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.3em; }
  .nav-bar .nav-brand {
    display: flex;
    align-items: center; }
    .nav-bar .nav-brand .nav-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-left: 60px;
      margin-right: auto;
      border-radius: 50%;
      border: 1px solid #3c3c3c;
      background: #f5f5f5; }
      .nav-bar .nav-brand .nav-logo a {
        color: #3c3c3c; }
    .nav-bar .nav-brand .nav-brand-name {
      padding: 0 20px; }
      .nav-bar .nav-brand .nav-brand-name a {
        text-decoration: none;
        color: #f5f5f5; }
  .nav-bar .nav-links {
    margin-right: 60px;
    align-self: center; }
    .nav-bar .nav-links a {
      font-size: 1.1em;
      text-decoration: none;
      color: #f5f5f5;
      transition: 0.4s; }
      .nav-bar .nav-links a:hover {
        border-top: 2px solid #f5f5f5;
        border-bottom: 2px solid #f5f5f5; }

.employee-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  @media screen and (max-width: 350px) {
    .employee-card {
      flex-direction: column; } }

.employee-card-body {
  display: flex;
  flex-direction: column;
  width: 50%; }
  .employee-card-body h2 {
    color: #ff5a5f;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0; }
  .employee-card-body h3 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding-top: 10px; }
  .employee-card-body p {
    font-family: "Libre Baskerville", serif;
    line-height: 1.8;
    text-align: justify; }
  @media screen and (max-width: 350px) {
    .employee-card-body {
      width: 100%;
      padding: 15px; } }

.lucia {
  background-image: url("../assets/img/lucia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

.renald {
  background-image: url("../assets/img/renald.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

.shelagh {
  background-image: url("../assets/img/shelagh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

.tien {
  background-image: url("../assets/img/tien.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

/*************************
index page   
photos: Unsplash 
**************************/
.box,
.blog-name,
.blog-content {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap; }

.box {
  width: 216px;
  border: 1px solid #EEEEEE;
  height: 215px;
  margin-right: 40px; }

.blog-content {
  display: flex;
  justify-content: center; }
  .blog-content p {
    color: #3C3C3C;
    font-size: 19px;
    font-family: 'Libre Baskerville'; }

.blog-name {
  width: 60%;
  min-width: 230px;
  margin-bottom: 50px; }

.blog-name h2,
.blog-name h3,
.blog-name p {
  margin: 0;
  padding: 0;
  width: 100%; }

.blog-name h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Libre Montserrat'; }

.box a,
.blog-name a {
  text-decoration: none;
  color: #ff5a5f; }

h1 {
  color: black; }

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background: #3c3c3c;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    footer ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      text-align: center; }
      footer ul li a {
        padding: 10px;
        font-size: 30px;
        color: #f5f5f5;
        transition: 0.3s; }
        footer ul li a:hover {
          color: #c1839f;
          transform: scale(1.2); }

.index-header {
  width: 100%;
  height: 400px;
  background: url("../assets/img/blog-hero.jpg");
  background-size: cover;
  background-position: center; }
  .index-header h1 {
    margin-top: 0;
    padding-top: 150px; }

.about-header {
  width: 100%;
  height: 300px;
  background: url("../assets/img/about-hero.jpg");
  background-size: cover;
  background-position: center;
  background-position: 100% 30%; }
  .about-header h1 {
    color: #087e8b;
    background: white;
    display: inline-block;
    margin-top: 150px;
    padding: 0 10px; }

.index-header h1 {
  color: #087e8b; }
