@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Montserrat:400,700");
* {
  box-sizing: border-box; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1000px; }

p {
  line-height: 1.6; }

.about {
  margin-top: 80px;
  margin-bottom: 100px; }

.wrapper .blog-content {
  margin-top: 100px;
  margin-bottom: 100px; }

.smaller-header-1, .smaller-header-2, .smaller-header-3 {
  width: 100%;
  height: 400px;
  background: #087e8b;
  font-family: "Montserrat", sans-serif; }
  .smaller-header-1 h1, .smaller-header-2 h1, .smaller-header-3 h1 {
    margin: 0;
    font-size: 2.5em; }

.smaller-header-1, .smaller-header-2, .smaller-header-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 250px; }
  .smaller-header-1 a, .smaller-header-2 a, .smaller-header-3 a, .smaller-header-1 h1, .smaller-header-2 h1, .smaller-header-3 h1, .smaller-header-1 p, .smaller-header-2 p, .smaller-header-3 p {
    color: white; }

.smaller-header-1 {
  background: linear-gradient(90deg, black, transparent), url("../assets/img/blog1.jpg");
  background-size: cover;
  background-position: 50% 60%; }

.smaller-header-2 {
  background: linear-gradient(90deg, black, transparent), url("../assets/img/blog2.jpg");
  background-size: cover; }

.smaller-header-3 {
  background: linear-gradient(90deg, black, transparent), url("../assets/img/blog3.jpg");
  background-size: cover;
  background-position: 50% 60%; }

article {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Libre Baskerville", serif; }

.nav-bar {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(to right, #087e8b 55%, #c1839f, #ff5a5f);
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em; }
  .nav-bar .nav-brand {
    display: flex;
    align-items: center; }
    .nav-bar .nav-brand .nav-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin-left: 60px;
      margin-right: auto; }
      .nav-bar .nav-brand .nav-logo a {
        color: #f5f5f5; }
        .nav-bar .nav-brand .nav-logo a i {
          font-size: 2em; }
    .nav-bar .nav-brand .nav-brand-name {
      padding: 0 20px; }
      .nav-bar .nav-brand .nav-brand-name a {
        text-decoration: none;
        color: #f5f5f5; }
  .nav-bar .nav-links {
    margin-right: 60px;
    align-self: center; }
    .nav-bar .nav-links a {
      font-size: 1.1em;
      text-decoration: none;
      color: #f5f5f5;
      transition: 0.4s; }
      .nav-bar .nav-links a:hover {
        border-top: 2px solid #f5f5f5;
        border-bottom: 2px solid #f5f5f5; }

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; }
  .card .img {
    height: 200px;
    width: 200px;
    margin: 20px; }
    .card .img img {
      height: 100%;
      width: 100%; }
  .card a {
    text-decoration: none;
    color: #ff5a5f; }

.card-body {
  display: flex;
  flex-direction: column;
  width: 50%; }
  .card-body h2 {
    color: #ff5a5f;
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0; }
  .card-body h3 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding-top: 10px; }
  .card-body p {
    font-family: "Libre Baskerville", serif;
    line-height: 1.8;
    text-align: justify; }
  @media screen and (max-width: 350px) {
    .card-body {
      width: 100%;
      padding: 15px; } }

.lucia {
  background-image: url("../assets/img/lucia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

.renald {
  background-image: url("../assets/img/renald.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

.shelagh {
  background-image: url("../assets/img/shelagh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

.tien {
  background-image: url("../assets/img/tien.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  margin: 20px; }

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background: #3c3c3c;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }
  footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    footer ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 15px;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      text-align: center; }
      footer ul li a {
        padding: 10px;
        font-size: 30px;
        color: #f5f5f5;
        transition: 0.3s; }
        footer ul li a:hover {
          color: #c1839f;
          transform: scale(1.2); }

.index-header h1, .about-header h1 {
  margin: 0;
  padding: 0 15px;
  font-size: 46px;
  display: inline-block; }

.index-header {
  font-family: "Montserrat", sans-serif;
  padding-top: 150px;
  width: 100%;
  height: 400px;
  background: url("../assets/img/blog-hero.jpg");
  background-size: cover;
  background-position: center; }
  .index-header h1 {
    color: #087e8b; }
  .index-header h2, .index-header h3 {
    padding: 0 15px; }

.about-header {
  font-family: "Montserrat", sans-serif;
  padding-top: 150px;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, transparent, #3c3c3c), url("../assets/img/about-hero.jpg");
  background-size: cover;
  background-position: 100% 30%; }
  .about-header h1 {
    text-shadow: 1px 1px 2px #087e8b;
    color: #f5f5f5; }
