@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/general.scss';
















@import './components/employee-card.scss';
@import './components/card.scss';
@import './components/footer.scss';

//@import './pages/test.scss';

@import './pages/entry.scss';

.nav-bar {
    width: 100%;
    height: 100px;
    background: #444;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    width: 60px;
    height: 60px;
    margin-left: 60px;
    margin-right: auto;
    border-radius: 30px;

    background: grey;
}

.nav-links {
    margin-right: 60px;
    align-self: center;

    a {
        font-size: 1.1em;
        text-decoration: none;
        color: white;
    }
}





