%starter {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.box {
    @extend %starter;
    justify-content: flex-start;
    width: 215px;
    border: 1px solid #EEEEEE;
    height: 215px;
    margin-right: 40px;

    img {
        height: 100%;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $secondary-color;
    }
}

.blog-name {
    @extend %starter;
    justify-content: flex-start;
    width: 60%;
    min-width: 230px;
    margin-bottom: 50px;

    h2 {
        margin: 10px 0;
        padding: 0;
        width: 100%;
        font-size: 40px;
        font-weight: bold;
        font-family: $heading-font;
    }

    h3 {
        margin: 10px 0;
        padding: 0;
        width: 100%;
    }
    
    p {
        margin: 10px 0;
        padding: 0;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: $secondary-color;
    }

}

.blog-content {
    @extend %starter;
    justify-content: center;
    
    p {
        color: $text-color;
        font-size: 19px;
        font-family: $p-font;
       
    }
}

h1 {
    color: black;  
}
