footer {
    display: flex;
    width: 100%;
    height: 100px;
    background: $text-color;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            text-align: center;

            a {
                padding: 10px;
                font-size: 30px;
                color: $background-color;
                transition: 0.3s;
                
                &:hover {
                    color: $accent-color;
                    transform: scale(1.2);
                }
            }
        }
    }
}










