%header-text {
    margin: 0;
    padding: 0 15px;
    font-size: 46px;
    display:inline-block;

    @media screen and (max-width: 370px) {
        font-size: 36px;        
    }
}

.index-header{
    font-family: $heading-font;
    padding-top: 150px;
    width: 100%;
    height: 400px;
    @include simpleBGImage('../assets/img/blog-hero.jpg');
    background-position: 75% 50%;


    h1 {
        @extend %header-text;
         color: $primary-color;
    }

    h2, h3 {
        padding: 0 15px;
    }

    @media screen and (max-width: 370px) {
        height: 450px;    
    }

}

.about-header {
    font-family: $heading-font;
    padding-top: 150px;
    width: 100%;
    height: 300px;
    @include normalBGImage('../assets/img/about-hero.jpg', transparent, $text-color);
    background-position: 40% 30%;

    h1 {
        @extend %header-text;
        text-shadow: 1px 1px 2px $primary-color;
        color: $background-color;
    }
}
