



 .index-header{
        width: 100%;
        height: 400px;
        @include simpleBGImage('../assets/img/blog-hero.jpg');


    h1 {
        margin-top: 0;
        padding-top: 150px;



    }
}


 .about-header {
    width: 100%;
    height: 300px;
    @include simpleBGImage('../assets/img/about-hero.jpg');
    background-position: 100% 30%;
    h1 {
        color:  $primary-color;
        background: white;
        display:inline-block;
        margin-top: 150px;
        padding: 0 10px;


 }
    
}

.index-header {
    h1 {
       color: $primary-color; 
    }
   
}