%header-text {
    margin-top: 150px;
    padding: 0 15px;
    font-size: 46px;
    display:inline-block;
}

.index-header{
    width: 100%;
    height: 400px;
    @include simpleBGImage('../assets/img/blog-hero.jpg');

    h1 {
        @extend %header-text;
        color: $primary-color;
    }
}

.about-header {
    width: 100%;
    height: 300px;
    @include normalBGImage('../assets/img/about-hero.jpg', transparent, $text-color);
    background-position: 100% 30%;

    h1 {
        @extend %header-text;
        text-shadow: 1px 1px 2px $primary-color;
        color: $background-color;
    }
}


