///// Mix-ins /////
//-- Takes in the gradient's degree, the percentage of the background image where
// the gradient starts, the start color and the end color; the URL comes first
@mixin complexBGImage($url, $deg, $color1, $color2) {
    background: 
        linear-gradient($deg, $color1, $color2),
        url($url);
        background-size: cover;
}

//-- Just take in the URL, no gradient effect
@mixin simpleBGImage($url){
    background: 
        url($url);
        background-size: cover;
        background-position: center;
}

//-- Take in a URL and start and end colors, with gradient goes from top to bottom
@mixin normalBGImage($url, $color1, $color2){
    background: 
        linear-gradient(180deg, $color1, $color2),
        url($url);
        background-size: cover;
}

@mixin makeEmployeeCard($img-path){
    background-image: url($img-path);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 20px;
}
